#footer {
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: white;
    padding: 20px 0;

}


#footer p {
    font-size: 18px;
}

.logo2 {
    border-radius: 20%;
    padding: 2px;
    margin-bottom: 4px;
    max-width: 160px !important;
    max-height: 75px !important;
}

#footer p {
    margin-bottom: 2px !important;
}

.redes {
    width: 50px !important;
    height: 50px !important;
} 

.foot__menu {
    text-decoration: none;
    color: white;
    padding: 2px;
    letter-spacing: 2px;
    font-weight: 700;
    transition: 0.7s;
    font-size: 20px;
}

.foot__menu:hover {
    color: white;
    transform: scale(1.2);
    transition: all 1s;
    border-color: black;
    text-decoration: underline;
}