/**                   Seccion uno                   **/

#SectionOne {
    width: 100%;
    height: 100vh;
    position: relative;
    
}

#SectionOne video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.titulo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    margin: auto;
    padding-top: 2rem;
    padding-left: 20px;
    color: white;
    letter-spacing: 10px;

}
.titulo button {
    margin: 1rem 0;
    width: 150px;
    background-color: white;
    color: black;
    border: 1px solid;
    border-radius: 48px;
    transition: 0.7s;
}

.titulo button:hover {
    font-size: 22px;
    width: 180px;
    background-color: #D2DBE9;
    color: black;
    cursor: pointer;
    border: 1px solid black;
}

.titulo h1 {
    font-size: 11rem;
    padding: 0;
    margin: 0;
    
}
.titulo h2 {
    font-size: 9 rem;
    padding: 0;
    margin: 0;
}
.titulo h3 {
    font-size: 6 rem;
    margin-top: 20px;
}

#SectionHomeTwo {
    height: 750px;
    width: 100%;
    
}

.HomeTwo h2 {
    max-width: 900px;
    font-size: 3.5rem;
    margin-bottom: 25px;
    border-bottom: solid 1px black;
    padding-bottom: 25px;
}

.HomeTwo p {
    max-width: 900px;
    font-size: 1.4rem;
    margin-top: 25px;
    align-items: flex-start;
    min-height: 1vh;

}

#HomeTree h2 {
    
    font-size: 35px;
    margin-bottom: 40px;
}

#HomeTree p {
    font-size: 17px ;

}

#HomeTree img {
    border-radius: 100px;
    

}
/**                       curve                      **/

.custom-shape-divider-top-1675202250 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1675202250 svg {
    position: relative;
    display: block;
    width: calc(161% + 1.3px);
    height: 133px;
}

.custom-shape-divider-top-1675202250 .shape-fill {
    fill: #FFFFFF;
}


/**                   Seccion DOS                  **/

#SectionTwo {
    margin-top: 80px;
    
    
}

.SectionTwo-titulo h1 {
    font-size: 50px;
    font-weight:bold;
    
}

.SectionTwo-titulo p {
    font-size: 25px;
    
}
/**                                                     Servicios                                                          **/

#Servicios {
    padding-top: 80px;
    padding-bottom: 40px;
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
}


/**                   Seccion tres                  **/

#SectionTree {
    padding-top: 20px;
}

/**                   Seccion CUATRO                   **/

.imgservicios {  
    max-width: 25rem;
    max-height: 25rem;
    padding: 20px;
    
}

.textoservicios {
    max-width: 1000px;
    max-height: 1000px;
    padding: 20px;
}

/**                     Seccion CINCO                    **/

#SectionFive {
    background-image:linear-gradient(to top, #accbee 0%, #e7f0fd 100%) !important;
    margin-top: 20px;
}



/**                            animated                           **/

#animated1 {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    position: relative;
    
}



.animated {
    min-height: 600px !important;
    max-width: 1140px !important;
    align-items: center !important;
    justify-content: center !important;
    padding-top: 100px;
}

.icono {
    max-width: 300px !important;
    max-height: 400px !important;
    
    position: relative;
    margin: 10px;
    
}

/***                  Carrusel                           **/

#carouselExampleIndicators {
    height: 600px;
    width: 600px;
    margin-bottom: 20px;
}

.carrusel h1{
    font-size: 4em;
    padding: 0;
    margin-top: 20px;
    border-bottom: solid 1px black;
    display: inline-block; 
    color: #37477B
}


/**               Seccion servicios **/
