/* .navegacion {
    background-color: rgba(0, 0, 0, 0.48) !important;
    padding: 0 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.48);
    width: 100%;
    height: 60px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    
    
}

.logo {
    margin-left: 30px;
    height: 60px;
    width: 100px;
    border-radius: 20%;
    justify-self: start;
    cursor: pointer;
    
} */

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0) !important;
    width: 100%;
    min-height: 80px;
    max-height: 130px;
    display: flex;
    justify-content: space-around;
    transition: .3 ease-in;
    z-index: 1;
    overflow: hidden;
    align-items: center;
    text-align: center;    
    
}

.header-bg {
    background-color: rgba(0, 0, 0, .7) !important;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    text-decoration: none;
    font-size: 18px;
}



header ul li a {
    position: relative;
    text-decoration: none;
    color: white !important;
    letter-spacing: 2px;
    transition: 0.7s;
    
}

header ul li a:hover{
    color: #D2DBE9 !important;
    transform: scale(1.1);
    transition: all 1s;
    border-color: black;
    font-size: 20px;
}

.logo {
    position: relative;
    height: 60px;
    width: 100px;
    border-radius: 20%;
    cursor: pointer;
    transition: 0.7s;
}

.logo:hover {
    transition: 0.7s;
    height: 70px;
    width: 115px;
}

.zona1 {
    position: relative;
    width: 100%;
    height: 100vh;

}

