body {
  margin: 0;
  padding: 0 !important;
  font-family: 'Cardo', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: 'Cardo', serif;
}

#root {
  padding: 0 !important;
}